header {
  height: 550px;
  background-image: url("../../assets/images/background.png");
  background-color: #83879e;
  position: relative;
  background-size: cover;
  background-position: center;

  .top {
    padding: 15px 20px;
    height: 80px;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, rgb(0, 0, 0, 0.5), transparent);
  }

  .logo {
    position: absolute;
    left: 20px;
    cursor: pointer;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 295px;
  }

  .title {
    color: #fff;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 7px;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 31px;
    }
    
    &.error {
      font-size: 70px;

      @media (max-width: 768px) {
        font-size: 3rem;
      }
    }
  }
  
  .subtitle {
    color: #fff;
    font-size: 29px;
    font-family: Avenir-Heavy, "Open Sans", open-sans, sans-serif;
    font-weight: 900;
    opacity: 80%;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 22px;
    }
  }

  .bottom {
    height: 176px;
    width: 100%;
    background: linear-gradient(360deg, #211f2a, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    flex-direction: column;
  }

  .search-box {
    position: relative;
    width: 400px;
    height: 60px;

    @media (max-width: 768px) {
      width: 95%;
    }

    .search-input {
      width: 400px;
      height: 60px;
      color: #fff;
      font-size: 21px;
      font-weight: 900;
      background-color: rgba($color: #fff, $alpha: 0.5);
      border: none;
      border-radius: 30px;
      padding: 0 105px 0 60px;
      text-align: left;

      @media (max-width: 768px) {
        width: 100%;
        font-size: 18px;
      }

      &::placeholder {
        color: #fff;
        font-size: 21px;
        font-weight: 900;
        opacity: 80%;

        @media (max-width: 768px) {
          font-size: 18px;
        }
      }

      &:focus {
        outline: none;
      }
    }

    .search-icon {
      position: absolute;
      left: 25px;
      top: calc(50% - 12px);
    }

    .go {
      width: 90px;
      height: 44px;
      border: none;
      border-radius: 30px;
      background: linear-gradient(to right, #ff6161, #ff61a3);
      box-shadow: 0 2px 4px 0 rgba($color: #000000, $alpha: 0.5);
      color: #fff;
      font-size: 21px;
      font-weight: 900;
      text-transform: uppercase;
      position: absolute;
      right: 9px;
      top: calc(50% - 22px);
      cursor: pointer;
    }
  }
}

main {
  padding: 39px 0 0;
  background-color: #211f2a;
  .content {
    max-width: 1140px;
    margin: 0 auto;

    .head-2 {
      font-size: 32px;
      font-weight: 900;
      color: #7bfbff;
      margin-bottom: 9px;

      @media (max-width: 768px) {
        padding-left: 10px;
      }
    }

    .description {
      font-size: 24px;
      color: #fff;
      font-family: Avenir-Book, Avenir-Black, "Open Sans", open-sans, sans-serif;

      @media (max-width: 768px) {
        padding-left: 10px;
        font-size: 18px;
      }
    }

    .results {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media (max-width: 768px) {
        justify-content: center;
      }

      @media (min-width: 769px) {
        &::after {
          content: "";
          flex: 0 0 32%;
          max-width: 359px;
        }
      }

      .destination {
        width: 359px;
        height: 250px;
        background-color: #a3a9c5;
        border-radius: 10px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .background {
          position: relative;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          background-size: cover;
          padding: 10px;
        }

        .layer {
          position: absolute;
          background-color: rgba(0, 0, 0, 0.2);
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        div {
          position: absolute;
          text-align: center;

          .city-name {
            color: #fff;
            font-size: 31px;
            font-family: Summer-Hearts-Regular, Avenir-Heavy, "Open Sans",
              open-sans, sans-serif;
            font-weight: 400;
            letter-spacing: 2.4px;
            text-align: center;
          }

          .show {
            width: fit-content;
            min-width: 162px;
            height: 49px;
            border-radius: 65px;
            box-shadow: 0 -2px 13px 0 rgb(0 0 0 / 30%);
            text-decoration: none;
            text-transform: uppercase;
            font-family: phosphatesolid, Avenir-Light, "Open Sans", open-sans,
              sans-serif;
            font-size: 25px;
            color: #fff;
            padding: 5px 10px;
            background: linear-gradient(
              to right,
              #000 0,
              #ff6161 0,
              #ff617f 100%
            );
            text-align: center;
            display: block;
            margin: 30px auto 0;

            img {
              display: inline-block;
              width: 29px;
              height: 28px;
              position: relative;
              top: 6px;
              right: -2px;
            }
          }
        }
      }
    }
  }
}

.loading {
  div {
    -webkit-animation: loading 1s linear infinite alternate;
    animation: loading 1s linear infinite alternate;

    &:nth-child(1) {
      animation-delay: 0.12s;
    }
    &:nth-child(2) {
      animation-delay: 0.25s;
    }
    &:nth-child(3) {
      animation-delay: 0.5s;
    }
  }
}
