@import './helpers/animations';
@import './pages/destinations';

* {
  box-sizing: border-box;
  font-family: Avenir-Black, "Open Sans", open-sans, sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

