<header>
    <div class="top">
        <img [routerLink]="['/search']" src="../../assets/images/logo-small.png" alt="" class="logo">
    </div>
    <div class="header-content">
        <h1 class="title">Search LuckyTrip</h1>
        <h2 class="subtitle">350 destinations, 1500 blog posts, Unlimited Trips</h2>
        <div class="bottom">
            <div class="search-box">
                <input class="search-input" [(ngModel)]="searchText" type="text" placeholder="Enter a Destination...">
                <img class="search-icon" src="../../assets/images/search-large.png" alt="search icon">
                <button class="go" (click)="go()">go</button>
            </div>
        </div>
    </div>
</header>
<main>
    <section class="content">
        <h3 class="head-2">Trending</h3>
        <div class="results" *ngIf="loaded && !error; else loading">
            <div class="destination" *ngFor="let destination of destinations">
                <div class="background" [style.backgroundImage]="'url('+ destination?.image_url +')'">
                    <div class="layer"></div>
                </div>
                <div>
                    <h4 class="city-name">{{ destination.city }}</h4>
                    <a class="show" [routerLink]="['/details', destination.id]">
                        show
                        <img alt="airplane" src="/assets/images/airplane-white.svg">
                    </a>
                </div>
            </div>
        </div>
        <ng-template #loading>
            <div class="results loading" *ngIf="!error; else err">
                <div class="destination"></div>
                <div class="destination"></div>
                <div class="destination"></div>
            </div>
        </ng-template>
        <ng-template #err>
            <div class="results">
                <div class="destination error">no city found</div>
            </div>
        </ng-template>
    </section>
</main>