header {
  height: 550px;
}

.destination.error {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
  color: #fff;
  width: 90vw !important;
  background-color: transparent !important;
}