<header [style.backgroundImage]="'url('+ destination?.thumbnail?.image_url +')'">
  <div class="top">
    <img [routerLink]="['/search']" src="../../assets/images/logo-small.png" alt="" class="logo">
    <div class="search-box">
      <input class="search-input" [(ngModel)]="searchText" type="text" placeholder="Enter a Destination...">
      <img class="search-icon" src="../../assets/images/search-small.png" alt="search icon">
      <button class="go" (click)="search()">go</button>
    </div>
  </div>
  <div class="header-content">
  </div>
  <div class="bottom" *ngIf="error == undefined; else err">
    <h1 class="title">{{ destination?.city }}</h1>
    <h2 class="subtitle">{{ destination?.country_name }}</h2>
  </div>
  <ng-template #err>
    <div class="bottom" *ngIf="error != 404; else notFound">
      <h1 class="title error">Oups! Something wrong happened!</h1>
    </div>
  </ng-template>
  <ng-template #notFound>
    <div class="bottom">
      <h1 class="title error">4🥺4</h1>
    </div>
</ng-template>
</header>
<main>
  <section class="content">
    <h3 class="head-2">What’s it like?</h3>
    <p class="description">
      {{ destination?.description?.text }}
    </p>
    <h3 class="head-2">Blog Posts</h3>
    <div class="results loading">
      <div class="destination"></div>
      <div class="destination"></div>
      <div class="destination"></div>
    </div>
    <div class="footer">
      <h3 class="head-2">Find a trip to Rome</h3>
      <p class="description">Tap the Lucky button to get started…</p>
      <img class="lucky-button" src="../../assets/images/lucky-button.png" alt="LuckyTrip button">
    </div>
  </section>
</main>