header {
  height: 450px;

  .top {
    @media (max-width: 768px) {
      justify-content: flex-end;
    }
  }

  .search-box {
    width: 288px;
    height: 43px;
    border-radius: 21px;

    @media (max-width: 768px) {
      width: 75%;
    }

    .search-input {
      width: 288px;
      height: 43px;
      border-radius: 21px;
      font-size: 15px;
      padding: 0 74px 0 46px;

      @media (max-width: 768px) {
        width: 100%;
      }

      &::placeholder {
        font-size: 15px;
      }
    }
    .go {
      width: 65px;
      height: 31px;
      right: 6px;
      top: calc(50% - 16px);
    }
    .search-icon {
      left: 18px;
      top: calc(50% - 9px);
    }
  }
}

.head-2 {
  &:nth-child(1) {
    color: #FFED7B;
  }
  &:nth-child(1) {
    .footer &{
      color: #FF7B99;
    }
  }
}

.description {
  margin-bottom: 48px;
}

.results {
  margin-bottom: 67px;
}

.footer {
  text-align: center;
  .lucky-button {
    -webkit-animation: breathing 3s ease-out infinite normal;
    animation: breathing 3s ease-out infinite normal;
  }
}