@font-face {
  font-family: Avenir-Book;
  src: url(/assets/fonts/avenir/Avenir-Book.eot);
  src: url(/assets/fonts/avenir/Avenir-Book.eot?#iefix)
    format("embedded-opentype");
  src: url(/assets/fonts/avenir/Avenir-Book.woff2) format("woff2");
  src: url(/assets/fonts/avenir/Avenir-Book.woff) format("woff");
  src: url(/assets/fonts/avenir/Avenir-Book.ttf) format("truetype");
}
@font-face {
  font-family: Avenir-Heavy;
  src: url(/assets/fonts/avenir/Avenir-Heavy.eot);
  src: url(/assets/fonts/avenir/Avenir-Heavy.eot?#iefix)
    format("embedded-opentype");
  src: url(/assets/fonts/avenir/Avenir-Heavy.woff2) format("woff2");
  src: url(/assets/fonts/avenir/Avenir-Heavy.woff) format("woff");
  src: url(/assets/fonts/avenir/Avenir-Heavy.ttf) format("truetype");
}
@font-face {
  font-family: Avenir-Black;
  src: url(/assets/fonts/avenir/Avenir-Black.eot);
  src: url(/assets/fonts/avenir/Avenir-Black.eot?#iefix)
    format("embedded-opentype");
  src: url(/assets/fonts/avenir/Avenir-Black.woff2) format("woff2");
  src: url(/assets/fonts/avenir/Avenir-Black.woff) format("woff");
  src: url(/assets/fonts/avenir/Avenir-Black.ttf) format("truetype");
}
@font-face {
  font-family: phosphatesolid;
  src: url(/assets/fonts/phosphate/phosphate-solid.woff2) format("woff2");
  src: url(/assets/fonts/phosphate/phosphate-solid.woff) format("woff");
  src: url(/assets/fonts/phosphate/phosphate-solid.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Summer-Hearts-Regular;
  src: url(/assets/fonts/summerHeart/SummerHearts-Regular.eot);
  src: url(/assets/fonts/summerHeart/SummerHearts-Regular.eot?#iefix)
      format("embedded-opentype"),
    url(/assets/fonts/summerHeart/SummerHearts-Regular.woff2) format("woff2"),
    url(/assets/fonts/summerHeart/SummerHearts-Regular.woff) format("woff"),
    url(/assets/fonts/summerHeart/SummerHearts-Regular.ttf) format("truetype"),
    url(/assets/fonts/summerHeart/SummerHearts-Regular.svg#SummerHearts-Regular)
      format("svg");
  font-weight: 400;
  font-style: normal;
}
